* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

.App{
  margin: 2em;
}


.tree {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
}

.box {
  display: flex;
  gap: 0.5em;
}
[class^="arrow-"] {
  border: solid currentColor;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
  margin-right: 0.5em;
  cursor: pointer;
}
.arrow-right {
  transform: rotate(-45deg);
}
.arrow-down {
  transform: rotate(45deg);
}

.checkbox {
  cursor: pointer;
}
